.banner-jungle {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.title-jungle {
    padding-left: 25px;
}

.logo-jungle {
    height: 45px;
    width: 45px;
}

.cart-jungle {
    padding: 32px;
    color: white;
    background-color: #4f9fc9;
}